* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#app {
	min-height: 100vh;
}

h1, h3 {
	margin-bottom: 0;
}

.block {
	display: block;
}

header {
	padding: 0 5%;
	display: grid;
	grid-template-columns: 45% 30em;
	justify-content: space-between;
	margin-bottom: 2em;
	border-bottom: 2px outset;
}

main {
	display: grid;
	grid-template-columns: 40% 40%;
	justify-content: space-around;
}

input:focus, textarea:focus, select:focus {
	outline: 2px solid;
}

textarea {
	width: 35vw;
	height: 20vh;
}

input:read-only, textarea:read-only {
	background: transparent;
}

button {
	border: 2px outset;
	border-radius: 25%;
	padding: 1em;
}
button:active {
	border-style: inset;
}