* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1, h3 {
	margin-bottom: 0;
}

.block {
	display: block;
}

header {
	padding: 0 5%;
	display: grid;
	grid-template-columns: 45% 20em;
	justify-content: space-between;
	margin-bottom: 2em;
}

main {
	display: grid;
	grid-template-columns: 40% 40%;
	justify-content: space-around;
}

textarea {
	width: 35vw;
	height: 20vh;
}